@font-face {
    font-family: 'SB Sans Interface';
    src: url("//db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.eot");
    src: url("//db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/37086b994764dba84b2ee0f1083bfeed.svg#SB Sans Interface") format("svg"); 
    font-weight: 600;
    font-style: normal;
}

.close_container {
    padding: 4px;
    margin-right: 20px;
    
    .close {
        cursor: pointer;
        width: 28px;
        height: 28px;
        span {
            position: relative;
            left: 5px;
            top: 24px;
        }
        span::before {
            position: absolute;
            content: '';
            width: 16px;
            height: 2px;
            bottom: 10px;
            left: 0;
            background-color: #B3B3B3;
            transform: rotate(45deg);
        }
        span::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 2px;
            top: -12px;
            left: 0;
            background-color: #B3B3B3;
            transform: rotate(-45deg);
        }
    }

    .close:hover {
        span::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 2px;
            bottom: 10px;
            left: 3px;
            background-color: #B3B3B3;
            transform: rotate(45deg);
            transform: 1s all;
        }

        span::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 2px;
            top: -12px;
            left: 3px;
            background-color: #B3B3B3;
            transform: rotate(-45deg);
            transform: 1s all;
        }
    }
}

.close_container.active {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0%;
    align-items: center;
    .close {
        background: rgba(0, 0, 0, 0.04);
        border-radius: 100px;
        padding: 2px;
    }
}

.modalConfirm_wrapper {
    z-index: 110;
    transition: 1s all;
    display: none;

    .modalConfirm {
        transition: 1s all;
        transform: scale(0);

        span {
            P {
                font-size: 18px;
                margin: 5px 0px;
            }
        }

        .confirm_clearCart {
            span {
                text-align: center;
            }
        }

        .clear_warn {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            padding: 10px;

            span {
                font-size: 14px;
                display: flex;
                align-items: center;
            }

            button {
                background-color: rgb(7, 158, 7);
                margin-left: 10px;
                cursor: pointer;
                padding: 14px 20px;
            }
        }
    }
}

.modalConfirm_wrapper.active {
    font-family: 'SB Sans Interface';
    transition: 1s all;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    .modalConfirm {
        transition: 1s all;
        transform: scale(1);
        min-width: 460px;
        padding: 20px;
        background-color: white;
        border-radius: 1em;
        .info {
            padding: 20px;
            li {
                font-size: 18px;
                margin-top: 10px;
            }
        }
        .icon_container {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 50px 0px 60px 0px;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                animation: shadow linear 0.25s forwards;
                -webkit-box-shadow: 0px 0px 0px 24px rgba(5, 174, 113, 0.15);
                -moz-box-shadow: 0px 0px 0px 24px rgba(5, 174, 113, 0.15);
                box-shadow: 0px 0px 0px 24px rgba(5, 174, 113, 0.15);
            }
            @keyframes shadow {
                0%{
                    -webkit-box-shadow: 0px 0px 0px 4px rgba(5, 174, 113, 0.15);
                    -moz-box-shadow: 0px 0px 0px 4px rgba(5, 174, 113, 0.15);
                    box-shadow: 0px 0px 0px 4px rgba(5, 174, 113, 0.15);
                }
                100%{
                    -webkit-box-shadow: 0px 0px 0px 24px rgba(5, 174, 113, 0.15);
                    -moz-box-shadow: 0px 0px 0px 24px rgba(5, 174, 113, 0.15);
                    box-shadow: 0px 0px 0px 24px rgba(5, 174, 113, 0.15);
                }
            }
            .icon.error{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                animation: shadowError linear 0.25s forwards;
                -webkit-box-shadow: 0px 0px 0px 24px rgba(232, 78, 88, 0.15);
                -moz-box-shadow: 0px 0px 0px 24px rgba(232, 78, 88, 0.15);
                box-shadow: 0px 0px 0px 24px rgba(232, 78, 88, 0.15);
            }
            @keyframes shadowError {
                0%{
                    -webkit-box-shadow: 0px 0px 0px 4px rgba(232, 78, 88, 0.15);
                    -moz-box-shadow: 0px 0px 0px 4px rgba(232, 78, 88, 0.15);
                    box-shadow: 0px 0px 0px 4px rgba(232, 78, 88, 0.15);
                }
                100%{
                    -webkit-box-shadow: 0px 0px 0px 24px rgba(232, 78, 88, 0.15);
                    -moz-box-shadow: 0px 0px 0px 24px rgba(232, 78, 88, 0.15);
                    box-shadow: 0px 0px 0px 24px rgba(232, 78, 88, 0.15);
                }
            }
        }
        .title {
            font-family: 'SB Sans Interface';
            color: #333333;
            font-weight: 900;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .title.confirm{
            justify-content: center;
        }
        .title.error{
            justify-content: flex-start;
        }
        .btn_container {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                background: #5558FA;
                border-radius: 4px;
                padding: 12px 16px;

            }
        }
        .btn_container.error{
            justify-content: flex-end;
        }
    }
}