@media screen and (max-width: 920px) {
    .aboutPage{
        padding: 40px 40px;
    }
    .form_cotaniner{
        width: 600px !important;
    }
    
    .firstPage {
        font-family: 'SB Sans Interface';
        box-sizing: border-box;
        padding: 24px;
        width: 100%;

        input {
            background-color: #FFFFFF;
        }

        label {
            width: 100%;
            padding: 8px 0px;
            margin-top: 24px;
        }

        input {
            min-width: 250px;
            max-width: 250px;
            padding: 16px;
            background-color: #FFFFFF;
            background: rgba(0, 0, 0, 0.04);
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.48);
        }

        hr {
            border: 1px solid rgba(0, 0, 0, 0.08);
        }

        .head {
            padding: 24px 0px;
            display: flex;
            flex-direction: row;

            .avatar {
                width: 80px;
                height: 80px;
                background: #D5E4F7;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 52px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #212830;
            }

            .about_person {
                justify-content: center;
                padding-left: 24px;
                display: flex;
                flex-direction: column;

                .name {
                    padding-bottom: 8px;

                    li {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        color: #333333;
                    }
                }

                .social {
                    display: flex;
                    flex-direction: row;

                    ul {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: flex-start;

                        li {
                            a {
                                cursor: pointer;
                                color: #5558FA;
                            }

                            display: flex;
                            flex-direction: row;
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }
    
}


@media screen and (max-width: 634px) {
    .advantagePage {
        padding: 60px 60px;
        .labelAdv {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            width: 100%;
            padding: 0px 0px;
            color: black;
            p{
                margin-left: 10px;
            }
            margin: 2px 0px;
        }
        .label, section > label{
            line-height: 1;
        }
        section{
            gap: 0rem;
        }
        legend{
            margin-top: 24px;
        }
        .inputAdvCheck{
            min-width: 16px;
            max-width: 16px;
        }
        .inputAdv {
            min-width: 300px;
            max-width: 300px;
            padding: 16px;
            background: rgba(0, 0, 0, 0.04);
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.48);
        }
        .input_adv {
            margin-bottom: 10px;
        }
        .adv_input_container{
            display: flex;
            flex-direction: column;
            .trash_container{
                display: flex;
                align-items: center;
                min-height: 100%;
                padding: 0px 16px;
                svg{
                    cursor: pointer;
                }
            }
        }
        .addItem{
            margin-top: 4px;
            cursor: pointer;
            background-color: white;
            width: 44px;
            height: 44px;
            box-sizing: border-box;
            border: 1.5px solid #5558FA;
            width: 44px;
            height: 44px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                background-color: white;
                box-sizing: border-box;
                border: 1.5px solid #5558FA;
                
            }
        }
        .input_content{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        form{
            label{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                svg{
                    padding: 0px 20px;
                }
            }
            button{
                background: #5558FA;
                border-radius: 4px;
                padding: 12px 16px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }
    }
    .form_cotaniner{
        margin: 0px 30px!important;
        max-width: 95% !important;
    }
    .firstPage {
        font-family: 'SB Sans Interface';
        box-sizing: border-box;
        padding: 24px;
        width: 100%;

        input {
            background-color: #FFFFFF;
        }

        label {
            width: 100%;
            padding: 8px 0px;
            margin-top: 24px;
        }

        input {
            min-width: 250px;
            max-width: 250px;
            padding: 16px;
            background-color: #FFFFFF;
            background: rgba(0, 0, 0, 0.04);
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.48);
        }

        hr {
            border: 1px solid rgba(0, 0, 0, 0.08);
        }

        .head {
            padding: 24px 0px;
            display: flex;
            flex-direction: row;

            .avatar {
                width: 80px;
                height: 80px;
                background: #D5E4F7;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 52px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #212830;
            }

            .about_person {
                justify-content: center;
                padding-left: 24px;
                display: flex;
                flex-direction: column;

                .name {
                    padding-bottom: 8px;

                    li {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        color: #333333;
                    }
                }

                .social {
                    display: flex;
                    flex-direction: row;

                    ul {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: flex-start;

                        li {
                            a {
                                cursor: pointer;
                                color: #5558FA;
                            }

                            display: flex;
                            flex-direction: row;
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media screen  and (max-width: 510px){
    .advantagePage{
        padding: 20px 20px;
    }
    .form_cotaniner{
        margin: 0px 30px!important;
        max-width: 95% !important;
    }
}

@media screen  and (max-width: 417px){
    .aboutPage{
        padding: 40px 2%;
        
    }
    .form_cotaniner{
        margin: 0px 30px!important;
        max-width: 95% !important;
    }
    .advantagePage{
        
        .inputAdv {
            min-width: 200px;
            max-width:95%;
            padding: 16px;
            background: rgba(0, 0, 0, 0.04);
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.48);
        }
    }

}

@media screen and (max-width: 475px) {
    .form_cotaniner{
        margin: 0px 30px!important;
        max-width: 95% !important;
    }
    .firstPage {
        font-family: 'SB Sans Interface';
        box-sizing: border-box;
        padding: 24px;
        width: 100%;

        input {
            background-color: #FFFFFF;
        }

        label {
            width: 100%;
            padding: 8px 0px;
            margin-top: 24px;
        }

        input {
            min-width: 250px;
            max-width: 250px;
            padding: 16px;
            background-color: #FFFFFF;
            background: rgba(0, 0, 0, 0.04);
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.48);
        }

        hr {
            border: 1px solid rgba(0, 0, 0, 0.08);
        }

        .head {
            margin-top: 40px;
            padding: 0px 0px 24px 0px;
            display: flex;
            flex-direction: row;

            .avatar {
                padding: 4px;
                width: 56px;
                height: 56px;
                background: #D5E4F7;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 52px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #212830;
            }

            .about_person {
                justify-content: center;
                padding-left: 24px;
                display: flex;
                flex-direction: column;

                .name {
                    padding-bottom: 8px;

                    li {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        color: #333333;
                    }
                }

                .social {
                    display: flex;
                    flex-direction: row;

                    ul {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        justify-content: flex-start;

                        li {
                            a {
                                cursor: pointer;
                                color: #5558FA;
                            }

                            display: flex;
                            flex-direction: row;
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px){
    .form_cotaniner{
        margin: 0px 30px!important;
        max-width: 95% !important;
    }
    .createPage {
        padding: 40px 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        label {
            width: 100%;
            padding: 8px 0px;
            margin-top: 24px;
    
        }
    
        input {
            min-width: 200px;
            max-width: none !important;
            padding: 16px;
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.48);
            margin-top: 8px;
        }
    
        button {
            background: #5558FA;
            border-radius: 4px;
            padding: 12px 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }
    
        .css-13cymwt-control {
            font-size: 14px;
            margin-top: 8px;
            padding: 8px;
            min-width: 100%;
            max-width: 300px;
        }
    
        .css-t3ipsp-control {
            min-width: 100%;
            font-size: 14px;
            margin-top: 8px;
            padding: 8px;
            max-width: 300px;
        }
    
        .css-1nmdiq5-menu {
            max-width: 300px;
            min-width: 100%;
        }
    
        .buttons_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 24px 0px;
    
            a:first-child {
                border: 1.5px solid #5558FA;
                border-radius: 4px;
                padding: 12px 16px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #5558FA;
            }
    
            a:last-child {
                background: #5558FA;
                border-radius: 4px;
                padding: 12px 16px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }
    }
}

@media screen and (max-width: 365px){
    .form_cotaniner{
        margin: 0px 30px!important;
        max-width: 95% !important;
        max-height: 92vh;
    }

    .aboutPage{
        

    }
    .createPage {
        padding: 40px 40px;
    }

    .css-13cymwt-control {
        font-size: 14px;
        margin-top: 8px;
        padding: 8px;
        min-width: 200px !important;
        max-width: 300px;
    }

    .css-t3ipsp-control {
        min-width: 200px !important;
        font-size: 14px;
        margin-top: 8px;
        padding: 8px;
        max-width: 300px;
    }
}